html {
  margin: 0 auto;
  max-width: 40vw;
  min-width: calc(79ch + 2em);
  background-color: #282c34;
  box-sizing: border-box;
  color: #b0b7c4;
  font-smooth: auto;
}

body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    text-decoration: underline;
  }
}

header, footer {
  max-width: 79ch;
}

// TODO: Think of a way to get just the article to scroll in the main page,
//       instead of including the header as well
main {
  min-height: 24ch;
  overflow: auto;

  article {
    max-width: 79ch;
    margin: 0 auto;
  }
}
